<!-- All Data to Show After Login -->
<div *ngIf="authhservice.loggedInStatus && currentUser">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-4">
             <!--Chat User List -->
             <app-user-list (startChatEmitter)="StartChatParent($event)"></app-user-list>
             <div class="text-center mt-2">
                <h3>{{currentUser.displayName}}</h3>
                <button class="btn btn-success btn-sm" (click)="authhservice.signoutFromFirebase()">Logout</button>
                <button *ngIf="!currentUser.emailVerified" class="btn btn-danger btn-sm ms-2">Verify Email</button>
             </div>
             
            </div>
            <div class="col-md-8" >
              <div *ngIf="toUser;else notSelectUserTemplate">
                <div class="text-black" >
                  <p class="mt-3">
                      You are Chatting with:<b>{{toUser.name}}</b>
                  </p>
                </div>
                <div class="messages" #messageBox>
                    <ng-container  *ngFor="let chat of chats">
                     <ng-container 
                     [ngTemplateOutlet]="chat.from===this.currentUser.uid?chatFrom:chatTo"
                     [ngTemplateOutletContext]="{chat:chat,user:chat.from===this.currentUser.uid? this.currentUser:toUser}"
                     >
                       
                    </ng-container>
                  </ng-container>
                
                <div class="mt-3">
                  <form (ngSubmit)="SendMessage($event)">
                    <div class="input-group">
                       
                      <input type="text" placeholder="Enter Message here.." id="message" class="form-control" name="message" [(ngModel)]="message">
                      <button type="submit" class="btn btn-success btn-sm">Send</button>
                      </div>
                    
                  </form>
                </div>
              </div>
            <!-- Chatting Start -->
             
            </div>
        </div>
    </div>
   

</div>
<ng-template #notSelectUserTemplate>
  <div class="mask-custom text-black">
    <div class="card-body text-center">
      <h3>Select User From UserList</h3>
    <p>To Start new chat select user from left pannel</p>
    </div>
  </div>
</ng-template>
<ng-template #chatFrom let-chat="chat" let-user="user">
<!-- From message box -->
<div class="d-flex justify-content-end text-white">
  <div class="card mask-custom" style="max-width: 60%;">
      <div class="card-header pt-3 px-3 pb-0" style="border-bottom: 1px solid rgba(255,255,255,0.3);">
         <p class="fw-bold mb-0">You</p>
         <p><i class="far fa-clock"></i><span class="ms-1">{{chat.date | date:'dd/MM/yyyy hh:mm:ss a'}}</span></p>
      </div>
      <div class="card-body ">
      <p class="mb-0">{{chat.message}}</p>
      </div>
  </div>
  <img [src]="user.imageURL" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
</div>
</ng-template>
<ng-template #chatTo let-chat="chat" let-user="user">
<!-- To Message -->
<div class="d-flex justify-content-start text-white">
<img [src]="user.imageURL" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
<div class="card mask-custom" style="max-width: 60%;">
<div class="card-header pt-3 px-3 pb-0" style="border-bottom: 1px solid rgba(255,255,255,0.3);">
 <p class="fw-bold mb-0">{{user.name}}</p>
 <p><i class="far fa-clock"></i><span class="ms-1">{{chat.date | date:'dd/MM/yyyy hh:mm:ss a'}}</span></p>
</div>
<div class="card-body ">
<p class="mb-0">{{chat.message}}</p>
</div>
</div>

</div>
</ng-template>